SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080

# Sua IP theo ket qua ipconfig tren cac may LAN.
USER_FOOD_SERVICE_URL=http://192.168.1.11:8081
ORDER_SERVICE_URL=http://192.168.1.12:8082
FRONTEND_ORIGIN_LAN=http://192.168.1.14:3000
FRONTEND_ORIGIN_LOCAL=http://localhost:3000

