# Copy file này thành .env và điền IP LAN của 4 người chạy 4 PU
# Ví dụ: VITE_PRODUCT_PU_URL=http://192.168.1.12:8081

VITE_PRODUCT_PU_URL=http://localhost:8081
VITE_CART_PU_URL=http://localhost:8082
VITE_ORDER_PU_URL=http://localhost:8083
VITE_INVENTORY_PU_URL=http://localhost:8084
