SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8083

# Sua URI MongoDB Atlas that.
PAYMENT_MONGODB_URI=mongodb+srv://nguyenvohiep29122004_db_user:UsaJTqpFcSuNQl0S@cluster0.izgbjco.mongodb.net/food_delivery_payment_db?retryWrites=true&w=majority

# Sua IP RabbitMQ theo may dang chay Docker RabbitMQ.
RABBITMQ_HOST=192.168.1.100
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin123

