# Machine 5: Payment Service + Notification Service

MONGO_ATLAS_USERNAME=your_atlas_username
MONGO_ATLAS_PASSWORD=your_url_encoded_atlas_password
MONGO_ATLAS_CLUSTER=cluster0.xxxxx.mongodb.net
MONGO_ATLAS_APP_NAME=MovieTicketEventDriven

PAYMENT_HOST_PORT=8083
PAYMENT_SERVER_PORT=8083
PAYMENT_MONGODB_URI=mongodb+srv://${MONGO_ATLAS_USERNAME}:${MONGO_ATLAS_PASSWORD}@${MONGO_ATLAS_CLUSTER}/payment_db?retryWrites=true&w=majority&appName=${MONGO_ATLAS_APP_NAME}
PAYMENT_SUCCESS_RATE=0.8
PAYMENT_KAFKA_BOOTSTRAP_SERVERS=192.168.1.10:9092

NOTIFICATION_HOST_PORT=8084
NOTIFICATION_SERVER_PORT=8084
NOTIFICATION_MONGODB_URI=mongodb+srv://${MONGO_ATLAS_USERNAME}:${MONGO_ATLAS_PASSWORD}@${MONGO_ATLAS_CLUSTER}/notification_db?retryWrites=true&w=majority&appName=${MONGO_ATLAS_APP_NAME}
NOTIFICATION_KAFKA_BOOTSTRAP_SERVERS=192.168.1.10:9092

KAFKA_BOOTSTRAP_SERVERS=192.168.1.10:9092
CORS_ALLOWED_ORIGIN_PATTERNS=http://192.168.1.10:8080,http://192.168.1.10:3000
