# ==========================================
# Flash Sale System - Environment Variables
# ==========================================
# Copy file này thành .env và điền thông tin thực tế
# KHÔNG push file .env lên Git!

# MongoDB Atlas Connection
MONGODB_ATLAS_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/flash_sale_db?retryWrites=true&w=majority

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
